<aside class="col sidebar" #sidebar>
    <div class="row logo">
        <a routerLink="/inicio" class="d-flex justify-content-center mt-2">
            <img class="logo-img mb-2" src="../../../../assets/image/logo_padrao.png" alt="OAlvo">
            <h3 class="logo-name" *ngIf="!clickedToggleMenu">
                O ALVO
            </h3>
        </a>
    </div>
    <mat-divider></mat-divider>

    <ul class="col col-12 menu" [@fadeInOut]>
        <ng-template ngFor let-menu [ngForOf]="listaMenus" let-i="index">
            <li class="item-menu" [class.check]="menu.check" (click)="navegar(i)">
                <mat-icon>{{ menu.icone }}</mat-icon>
                <span class="text-item" [class.disabled]="clickedToggleMenu">
                    {{ menu.nome }}
                </span>
            </li>
        </ng-template>
        

        <li class="item-menu" (click)="toogleMenu()">
            <mat-icon>format_align_left</mat-icon>
            <span class="text-item" [class.disabled]="clickedToggleMenu">
                recolher menu
            </span>
        </li>
    </ul>
</aside>