@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

.sidebar {
    display: block;
    // width: 235px !important;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    .logo {
      display: flex;
      justify-content: center;
      height: 4rem;
      a {
        pointer-events: none;
        &.classToggleMenu {
          visibility: hidden;
        }
      }
      .logo-img {
        order: 1;
        width: 3rem;
        height: 3rem;
        margin: 5px 5px 5px 5px;
      }
      .logo-name {
        order: 2;
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
        font-family: 'Fredoka One', cursive;
        margin: 17px 5px 0px 5px;
        visibility: visible;
        opacity: 1;
      }
    }
    .menu {
      padding: 5px;
      margin: 0px;
      .check {
        background-color: rgb(226, 231, 230);
      }
      .item-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        margin-top: 30px;
        border-radius: 8px;
      }
      .disabled {
        display: none;
      }
      .text-item {
        margin-left: 10px;
        // font-family: 'Yatra One', cursive;
        font-size: 0.8rem;
        font-family: 'RocknRoll One', sans-serif;
      }
    }
}