<header class="nav-top mt-3">
    <div class="user">
        <div class="d-flex justify-content-between">
            <div class="align-self-center">
                <div class=" info-page">
                    <h2>{{ title }}</h2>
                </div>
            </div>

            <div class="user-config open-menu">
                <div class="user-name d-flex align-items-center">
                    <div class="mr-1">{{ usuario.nomeCompleto }} ({{usuario.perfil.cargo}})</div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <!-- <mat-icon>more_vert</mat-icon> -->
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="realizarLogout(content)">
                            <mat-icon>logout</mat-icon>
                            <span>Sair</span>
                        </button>
                    </mat-menu>
                </div>
            </div>

        </div>

        <mat-divider></mat-divider>

    </div>
</header>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirmar saída</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja sair do sistema?</p>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-danger col-2" (click)="modal.close('Close click')">
            <mat-icon class="icones">thumb_down</mat-icon>
            Não
        </button>
        <button type="button" class="btn btn-success col-2" (click)="confirmarSaida()">
            <mat-icon class="icones">thumb_up</mat-icon>
            Sim
        </button>
    </div>
</ng-template>