h2 {
    font-size: 1.5rem;
    font-family: 'RocknRoll One', sans-serif;
}
.user-name {
    font-size: 0.8rem;
    font-family: 'RocknRoll One', sans-serif;
    cursor: pointer;
}

.icones {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}