.row {
    a {
        color: black;
        display: flex;
        align-items: center;
        margin: 10px;
    }
    a:hover {
        cursor: pointer;
        color: black;
        text-decoration: none;
    }
}