<div class="row row-forms mb-2 mt-2 align-items-center">
    <a class="col-2" (click)="btnVoltar()">
        <mat-icon>undo</mat-icon>
        voltar
    </a>
</div>

<mat-accordion class="example-headers-align col-12">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Célula
            </mat-panel-title>
            <mat-panel-description>
                Visualizar detalhes
            </mat-panel-description>
            <mat-icon>share</mat-icon>
        </mat-expansion-panel-header>

        <form class="form row d-flex" [formGroup]="formCelula">
            <mat-form-field class="full-width col-5" appearance="outline">
                <mat-label>Nome da célula</mat-label>
                <input matInput type="text" disabled placeholder="Nome" formControlName="nome">
            </mat-form-field>

            <mat-form-field class="full-width col-2" appearance="outline">
                <mat-label>Horario</mat-label>
                <input matInput type="time" placeholder="Nome" formControlName="horario">
            </mat-form-field>

            <mat-form-field class="full-width col-3" appearance="outline">
                <mat-label>Dia</mat-label>
                <input matInput type="text" placeholder="Dia" formControlName="dia">
            </mat-form-field>

            <mat-form-field class="full-width col-2" appearance="outline">
                <mat-label>CEP</mat-label>
                <input matInput type="text" placeholder="Cep" formControlName="cep">
            </mat-form-field>

            <mat-form-field class="full-width col-4" appearance="outline">
                <mat-label>Logradouro</mat-label>
                <input matInput type="text" placeholder="Logradouro" formControlName="logradouro">
            </mat-form-field>

            <mat-form-field class="full-width col-2" appearance="outline">
                <mat-label>Numero</mat-label>
                <input matInput type="text" placeholder="Numero" formControlName="numero">
            </mat-form-field>

            <mat-form-field class="full-width col-4" appearance="outline">
                <mat-label>Complemento</mat-label>
                <input matInput type="text" placeholder="Numero" formControlName="complemento">
            </mat-form-field>

            <mat-form-field class="full-width col-3" appearance="outline">
                <mat-label>Bairro</mat-label>
                <input matInput type="text" placeholder="bairro" formControlName="bairro">
            </mat-form-field>

            <mat-form-field class="full-width col-3" appearance="outline">
                <mat-label>Estado</mat-label>
                <input matInput type="text" placeholder="Estado" formControlName="estado">
            </mat-form-field>

            <mat-form-field class="full-width col-2" appearance="outline">
                <mat-label>UF</mat-label>
                <input matInput type="text" placeholder="UF" formControlName="uf">
            </mat-form-field>
        </form>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Membros
            </mat-panel-title>
            <mat-panel-description>
                Visualizar detalhes
            </mat-panel-description>
            <mat-icon>recent_actors</mat-icon>
        </mat-expansion-panel-header>
        <div>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">APELIDO</th>
                        <th scope="col">NOME</th>
                        <th scope="col">PERFIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let membro of this.celulaDetalhe.membros ; index as i">
                        <th scope="row">{{ membro.id }}</th>
                        <td>{{ membro.apelido }}</td>
                        <td>{{ membro.nomeCompleto }}</td>
                        <td>{{ membro.perfil }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Lideres associados
            </mat-panel-title>
            <mat-panel-description>
                Visualizar detalhes
            </mat-panel-description>
            <mat-icon>supervisor_account</mat-icon>
        </mat-expansion-panel-header>

        <div>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">ATENDE POR:</th>
                        <th scope="col">RESPONSABILIDADE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of this.celulaDetalhe.usuariosAssociados ; index as i">
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.nomeCompleto }}</td>
                        <td>{{ user.apelido }} ({{ user.perfilUsuario.cargo }})</td>
                        <td>{{ user.papelNaCelula.cargo }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-expansion-panel>
</mat-accordion>