<div class="row row-forms mb-2 mt-2 align-items-center">
    <div class="col-12 text-right">
        <button class="align-items-center" mat-raised-button color="primary" (click)="telaCadastrado()">
            + Cadastrar célula
        </button>
    </div>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">DIA SEMANA</th>
            <th scope="col">HORARIO</th>
            <th scope="col">BAIRRO</th>
            <th scope="col">ESTADO</th>
            <th scope="col">UF</th>
            <th scope="col">LIDERES</th>
            <th class="d-flex justify-content-center" scope="col">AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let celula of listaCelulas | slice: inicio:fim ; index as i">
            <th scope="row">{{ celula.id }}</th>
            <td>{{ celula.nome }}</td>
            <td>{{ celula.dia }}</td>
            <td>{{ celula.horario }}</td>
            <td>{{ celula.endereco.bairro }}</td>
            <td>{{ celula.endereco.estado }}</td>
            <td>{{ celula.endereco.uf }}</td>
            <td>{{ apresentarLideres(celula.lideres) }}</td>
            <td>
                <div class="visualizar d-flex justify-content-center" (click)="detalheCelula(celula.id)">
                    <span class="material-icons mr-1">
                        keyboard_tab
                    </span>
                    detalhe
                </div>
            </td>
        </tr>
    </tbody>
</table>

<mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
</mat-paginator>