<div class="row row-forms mb-2 mt-2 align-items-center">
    <div class="col-12 text-right">
        <button class="align-items-center" mat-raised-button color="primary" (click)="openDialog(cadastrar)">
            + Cadastrar igreja
        </button>
    </div>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">ESTADO</th>
            <th scope="col">UF</th>
            <th scope="col">CIDADE</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let igreja of listaIgrejas; index as i">
            <th scope="row">{{ igreja.id }}</th>
            <td>{{ igreja.nome }}</td>
            <td>{{ igreja.estado }}</td>
            <td>{{ igreja.uf }}</td>
            <td>{{ igreja.cidade }}</td>
        </tr>
    </tbody>
</table>

<ng-template #cadastrar let-modal>
    <form class="example-form" [formGroup]="formCadastrarIgreja" (ngSubmit)="cadastrarIgreja()">
        <div class="modal-header">
            <h4 class="modal-title">Cadastrar igreja</h4>
            <button type="button" class="close" aria-label="Close" (click)="dialog.closeAll()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body row col-12 mt-3">
            <div class="col-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nome igreja</mat-label>
                    <input matInput type="text" placeholder="Nome" formControlName="nome">
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input matInput type="text" placeholder="Nome" formControlName="cidade">
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input matInput type="text" placeholder="Nome" formControlName="estado">
                </mat-form-field>
            </div>

            <div class="col-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>UF</mat-label>
                    <input matInput type="text" placeholder="Nome" formControlName="uf">
                </mat-form-field>
            </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-light" mat-button mat-dialog-close>Cancelar</button>
            <button type="button" class="btn btn-success" type="submit" [disabled]="formCadastrarIgreja.invalid">Cadastrar</button>
        </div>
    </form>
</ng-template>