<div class="row row-forms mb-2 mt-2 align-items-center">
    <div class="col-12 text-right">
        <button class="align-items-center" mat-raised-button color="primary" (click)="openDialog(cadastrar)">
            + Cadastrar rede
        </button>
    </div>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">COR</th>
            <th scope="col">BARRACÃO</th>
            <th scope="col">CIDADE</th>
            <th scope="col">ESTADO</th>
            <th scope="col">UF</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rede of listaRedes | slice: inicio:fim; index as i">
            <th scope="row">{{ rede.id }}</th>
            <td>{{ rede.cor }}</td>
            <td>{{ rede.igreja.nome }}</td>
            <td>{{ rede.igreja.cidade }}</td>
            <td>{{ rede.igreja.estado }}</td>
            <td>{{ rede.igreja.uf }}</td>
        </tr>
    </tbody>
</table>

<mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
</mat-paginator>

<ng-template #cadastrar let-modal>
    <form class="example-form" [formGroup]="formGroup" (ngSubmit)="cadastrarRede()">
        <div class="modal-header">
            <h4 class="modal-title">Cadastrar rede</h4>
            <button type="button" class="close" aria-label="Close" (click)="dialog.closeAll()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body row col-12 mt-3">
            <div class="col-6">
                <!-- <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Cor rede</mat-label>
                    <input matInput type="text" placeholder="Nome" formControlName="cor">
                </mat-form-field> -->
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Escolha um cor</mat-label>
                    <mat-select name="idCor" formControlName="idCor">
                        <mat-option *ngFor="let cor of cores" [value]="cor.id">
                            {{ cor.cor }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Escolha um igreja</mat-label>
                    <mat-select name="igreja" formControlName="idIgreja">
                        <mat-option *ngFor="let igreja of igrejas" [value]="igreja.id">
                            {{ igreja.nome }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Pastores responsaveis</mat-label>
                    <input matInput type="text" placeholder="Nome" formControlName="pastores">
                </mat-form-field>
            </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-light" mat-button mat-dialog-close>Cancelar</button>
            <button type="button" class="btn btn-success" type="submit" [disabled]="formGroup.invalid">Cadastrar</button>
        </div>
    </form>
</ng-template>