.table {
    background-color: #fff;
    font-size: 0.8rem;
    thead {
        font-family: 'Kanit', sans-serif;
    }
    tbody {
        font-family: 'Open Sans', sans-serif;
    }
}

.modal-header {
    .modal-title {
        font-family: 'RocknRoll One', sans-serif;
    }
}

.modal-body {

    .example-full-width {
        width: 100%;
        font-size: 0.8rem;
    }
}