.row-forms {
    div {
        .divisao {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .mat-form-field {
                display: flex;
                align-content: center;
                margin-top: 0.9rem;
                font-size: 0.7rem;
            }
        }
    }
}

.table {
    background-color: #fff;
    font-size: 0.8rem;
    thead {
        font-family: 'Kanit', sans-serif;
    }
    tbody {
        font-family: 'Open Sans', sans-serif;
    }
}

.modal-header {
    .modal-title {
        font-family: 'RocknRoll One', sans-serif;
    }
}

.modal-body {

    .example-full-width {
        width: 100%;
        font-size: 0.8rem;
    }
}

.c-pointer {
    display: flex;
    cursor: pointer;
    .mat-icon {
        color: rgb(82, 77, 77);
    }
}

