<div class="row row-forms mb-2 mt-2 align-items-center">
    <div class="col-12 text-right d-flex justify-content-between">
        <form class="example-form col-8 divisao busca" [formGroup]="formGroup" (ngSubmit)="filtrarUsuarios()">
            <div class="">
                <mat-form-field class="full-width input" appearance="outline">
                    <mat-label>Nome Completo</mat-label>
                    <input matInput autocomplete="off" type="text" placeholder="Nome" formControlName="nomeCompleto">
                </mat-form-field>
            </div>

            <div class="">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Escolha um perfil</mat-label>
                    <mat-select name="perfil" formControlName="idPerfil">
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let perfil of listaPerfis" [value]="perfil.id">
                            {{ perfil.cargo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> 

            <div class="">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Escolha uma igreja</mat-label>
                    <mat-select name="igreja" formControlName="idIgreja">
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let igreja of listaIgrejas" [value]="igreja.id">
                            {{ igreja.nome }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button class="align-items-center" type="submit" mat-raised-button color="dark">
                Filtrar
            </button>
        </form>
        <div class="divisao">
            <button class="align-items-center" mat-raised-button color="primary" (click)="telaCadastro()">
                + Cadastrar usuário
            </button>
        </div>
    </div>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME COMPLETO</th>
            <th scope="col">LOGIN</th>
            <th scope="col">APELIDO</th>
            <th scope="col">PERFIL</th>
            <th scope="col">REDE</th>
            <th scope="col">BARRACÃO</th>
            <!-- <th scope="col" class="d-flex justify-content-center">AÇÃO</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of listaUsuariosFilter | slice: inicio:fim ; index as i">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.nomeCompleto }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.apelido }}</td>
            <td>{{ user.perfil.cargo }}</td>
            <td>{{ user.rede.cor }}</td>
            <td>{{ user.igreja.nome }}</td>
            <!-- <td class="d-flex align-items-center"> -->
            <!-- <span class="c-pointer">
                    <mat-icon class="mr-1 edit">edit</mat-icon>
                    editar
                </span> -->
            <!-- <span class="c-pointer ml-2" (click)="openDialog(vincularCelula, user)"> -->
            <!-- <mat-icon class="mr-1">share</mat-icon> -->
            <!-- associar -->
            <!-- </span> -->
            <!-- </td> -->
        </tr>
    </tbody>
</table>

<mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
</mat-paginator>

<!-- <ng-template #vincularCelula let-modal>
    <form class="example-form" [formGroup]="formGroup" (ngSubmit)="vincularCelulaAoLider()">
        <div class="modal-header">
            <h4 class="modal-title">Vincular celula ao lider</h4>
            <button type="button" class="close" aria-label="Close" (click)="dialog.closeAll()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body row col-12 mt-3">
            <div class="col-12">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Lider</mat-label>
                    <input matInput type="text" disabled placeholder="Nome" formControlName="idLider">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Escolha uma celula</mat-label>
                    <mat-select name="celula" formControlName="idCelula">
                        <mat-option *ngFor="let celula of listaCelula" [value]="celula.id">
                            {{ celula.nome }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-light" (click)="dialog.closeAll()">Cancelar</button>
            <button type="button" class="btn btn-success" type="submit"
                [disabled]="formGroup.invalid">Cadastrar</button>
        </div>
    </form>
</ng-template> -->