<section class="content-block" [@fadeInOut]>
    <article>
        <div class="text-title head col-12">
            <a class="col-2" (click)="btnVoltar()">
                <mat-icon>undo</mat-icon>
                voltar
            </a>
            <div class="col-8 text-center">
                <h3>Cadastrar célula</h3>
                <p>Cadastro de células para vincular com lideres na tela de usuarios</p>
            </div>
        </div>

        <div class="mt-3 body">
            <form class="form col-12 row" [formGroup]="formCelula" (ngSubmit)="cadastrarCelula()">
                <div class="col-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nome da célula</mat-label>
                        <input matInput type="text" placeholder="Nome" formControlName="nome">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Horario</mat-label>
                        <input matInput type="time" placeholder="Nome" formControlName="horario">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Escolha um dia</mat-label>
                        <mat-select name="dia" formControlName="dia">
                            <mat-option *ngFor="let dia of diasSemana" [value]="dia">
                                {{ dia }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>CEP</mat-label>
                        <input matInput type="text" placeholder="*****-***" formControlName="cep">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Logradouro</mat-label>
                        <input matInput type="text" placeholder="Rua/Avenida/Estrada" formControlName="logradouro">
                    </mat-form-field>
                </div>

                <div class="col-2">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Numero</mat-label>
                        <input matInput type="text" placeholder="Numero" formControlName="numero">
                    </mat-form-field>
                </div>
                
                <div class="col-4">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Complemento</mat-label>
                        <input matInput type="text" placeholder="Numero" formControlName="complemento">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Bairro</mat-label>
                        <input matInput type="text" placeholder="bairro" formControlName="bairro">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input matInput type="text" placeholder="Estado" formControlName="estado">
                    </mat-form-field>
                </div>

                <div class="col-2">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>UF</mat-label>
                        <input matInput type="text" placeholder="UF" formControlName="uf">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Escolha uma igreja</mat-label>
                        <mat-select name="igreja" (selectionChange)="selecionarIgreja()" formControlName="idIgreja">
                            <mat-option *ngFor="let igreja of listaIgrejas" [value]="igreja.id">
                                {{ igreja.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Escolha uma rede</mat-label>
                        <mat-select name="igreja" (selectionChange)="selecionarRede()" formControlName="idRede">
                            <mat-option *ngFor="let rede of listaRedeFiltrada" [value]="rede.id">
                                {{ rede.cor }} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Escolha os lideres</mat-label>
                        <mat-select name="lider" formControlName="idLideres" multiple>
                            <mat-option *ngFor="let lider of listaLideres" [value]="lider.id">
                                {{ lider.id }} - {{ lider.nomeCompleto }} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Escolha os supervisores</mat-label>
                        <mat-select name="super" formControlName="idSupers" multiple>
                            <mat-option *ngFor="let sup of listaSupervisores" [value]="sup.id">
                                {{ sup.id }} - {{ sup.nomeCompleto }} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="mt-2 footer col-12 d-flex justify-content-center">
                    <button type="button" class="btn btn col-2" type="submit" [disabled]="formCelula.invalid">
                        <mat-icon>add</mat-icon>
                        Cadastrar
                    </button>
                </div>

            </form>
        </div>
    </article>
</section>