<div class="container-fluid home" id="container-home">
    <div class="row h-100" id="h-100-main">
        <app-sidebar></app-sidebar>

        <div class="col content">

            <app-header></app-header>

            <router-outlet #animateHere="outlet"></router-outlet>
        </div>
    </div>
</div>