<form class="row row-forms mb-2 mt-3 align-items-center" [formGroup]="formGroup" (ngSubmit)="realizarBusca()">
    <div class="col-8">
        <mat-form-field class="full-width col-3" appearance="outline">
            <mat-label>Período</mat-label>
            <input matInput type="month" placeholder="" formControlName="periodo">
        </mat-form-field>
    </div>
    <div class="col-4 text-right">
        <button class="align-items-center bt-buscar" mat-raised-button color="" type="submit">
            Buscar
        </button>
        <!-- <button class="align-items-center ml-2" mat-raised-button color="">
            Gerar relatório
        </button> -->
    </div>
</form>

<section class="col-12 row d-flex justify-content-center mb-4">
    <header class="mt-2 col ">
        <h3>{{ usuario.igreja.nome }}</h3>
        <div>
            <span>Rede {{ usuario.rede.cor }}, aos cuidados dos pastores {{ usuario.rede.pastores }}</span>
        </div>
        <h3>Relatório células - {{ mes }} {{ ano }}</h3>
    </header>
    <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button class="downloadErro" [class.download]="emitirRelatorio" (click)="generatePdf()" [disabled]="!emitirRelatorio">
            <span class="material-icons mr-2">
                picture_as_pdf
            </span>
            gerar pdf
        </button>
    </div>
    <div class="col-12 mt-3 mb-5">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

            <ng-container matColumnDef="celula">
                <th mat-header-cell *matHeaderCellDef>CÉLULA</th>
                <td mat-cell *matCellDef="let element" [class.total]="element.celula == 'TOTAL'"> {{element.celula}} </td>
            </ng-container>

            <ng-container matColumnDef="lider">
                <th mat-header-cell *matHeaderCellDef>LIDERES</th>
                <td mat-cell *matCellDef="let element" [class.total]="element.celula == 'TOTAL'"> {{ element.lider}} </td>
            </ng-container>

            <ng-container matColumnDef="membros">
                <th mat-header-cell *matHeaderCellDef> QTD. MEMBROS </th>
                <td mat-cell *matCellDef="let element" [class.total]="element.celula == 'TOTAL'"> {{element.membros}} </td>
            </ng-container>

            <ng-container matColumnDef="visitantes">
                <th mat-header-cell *matHeaderCellDef> QTD. VISITANTES</th>
                <td mat-cell *matCellDef="let element" [class.total]="element.celula == 'TOTAL'"> {{element.visitante}} </td>
            </ng-container>

            <ng-container matColumnDef="ofertas">
                <th mat-header-cell *matHeaderCellDef> VL. OFERTAS </th>
                <td mat-cell *matCellDef="let element" [class.total]="element.celula == 'TOTAL'"> {{ mascaraValor(element.ofertas) }} </td>
            </ng-container>

            <ng-container matColumnDef="quilos">
                <th mat-header-cell *matHeaderCellDef> KG. AMOR </th>
                <td mat-cell *matCellDef="let element" [class.total]="element.celula == 'TOTAL'"> {{ convertePeso(element.quilos) }} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> STATUS </th>
                <td mat-cell *matCellDef="let element" [class.total]="element.celula == 'TOTAL'">
                    <div class="status" *ngIf="element.status">
                        <span class="material-icons mr-2 ok">
                            check
                        </span>
                        Entregue
                    </div>
                    <div class="status" *ngIf="!element.status">
                        <span class="material-icons mr-2 pendente">
                            warning_amber
                        </span>
                        Pendente
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description col-12">
                            <table mat-table [dataSource]="element.diasRelatorio" class="mat-elevation-z2">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef>SEMANA</th>
                                    <td mat-cell *matCellDef="let relatorio"> {{relatorio.nrSemana}} </td>
                                </ng-container>

                                <ng-container matColumnDef="data">
                                    <th mat-header-cell *matHeaderCellDef>DATA</th>
                                    <td mat-cell *matCellDef="let relatorio"> {{relatorio.data}} </td>
                                </ng-container>

                                <ng-container matColumnDef="membros">
                                    <th mat-header-cell *matHeaderCellDef>QTD. MEMBROS</th>
                                    <td mat-cell *matCellDef="let relatorio"> {{relatorio.membros}} </td>
                                </ng-container>

                                <ng-container matColumnDef="qtdVisitantes">
                                    <th mat-header-cell *matHeaderCellDef>QTD. VISITANTES</th>
                                    <td mat-cell *matCellDef="let relatorio"> {{relatorio.visitante}} </td>
                                </ng-container>

                                <ng-container matColumnDef="vlOferta">
                                    <th mat-header-cell *matHeaderCellDef>VL. OFERTAS</th>
                                    <td mat-cell *matCellDef="let relatorio"> {{ mascaraValor(relatorio.ofertas) }} </td>
                                </ng-container>

                                <ng-container matColumnDef="kgAmor">
                                    <th mat-header-cell *matHeaderCellDef> KG. AMOR </th>
                                    <td mat-cell *matCellDef="let relatorio"> {{ convertePeso(relatorio.quilos) }} </td>
                                </ng-container>

                                <ng-container matColumnDef="observacao">
                                    <th mat-header-cell *matHeaderCellDef>OBSERVACAO</th>
                                    <td mat-cell *matCellDef="let relatorio"> {{relatorio.observacao}} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> STATUS </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="status" *ngIf="element.status">
                                            <span class="material-icons mr-2 ok">
                                                check
                                            </span>
                                            Entregue
                                        </div>
                                        <div class="status" *ngIf="!element.status">
                                            <span class="material-icons mr-2 pendente">
                                                warning_amber
                                            </span>
                                            Pendente
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="columnsDias"></tr>
                                <tr mat-row *matRowDef="let row; columns: columnsDias;"></tr>
                            </table>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="element.celula == 'TOTAL' ? null : expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

    </div>
</section>