.full-width {
    width: 100%;
    font-size: 0.7rem;
}
.bt-buscar {
    background-color: rgb(95, 91, 91);
    color: #ffff;
}

section {
    border-radius: 9px;
    background-color: #ffff;
    
    header {
        h3 {
            font-family: 'KoHo', sans-serif;
            text-align: center;
        }
        div {
          text-align: center;
        }
    }
    .total {
      font-weight: 800;
      background: whitesmoke;
    }
    .downloadErro {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: rgb(114, 71, 65);
    }
    .download {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: rgb(71, 114, 65);
    }
    .download:hover {
      cursor: pointer;
    }
}
table {
    width: 100%;
    tr.example-detail-row {
      height: 0;
    }
    
    tr.example-element-row:not(.example-expanded-row):hover {
      background: whitesmoke;
    }
    
    tr.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }
    
    .example-element-row td {
      border-bottom-width: 0;
    }
    
    .example-element-detail {
      overflow: hidden;
      display: flex;
    }
    
    .example-element-symbol {
      font-weight: bold;
      font-size: 40px;
      line-height: normal;
    }
    
    .example-element-description {
      padding: 16px;
    }

    .status {
      display: flex;
      align-items: center;
      
      .ok {
        color: green;
      }
      .pendente {
        color: orange;
      }
    }
    table {
      margin: 0px;
    }
}
  
  