<section class="content-block" [@fadeInOut]>
    <article>
        <div class="text-title head col-12">
            <a class="col-2" (click)="btnVoltar()">
                <mat-icon>undo</mat-icon>
                voltar
            </a>
            <div class="col-8 text-center">
                <h3>Cadastrar usuario</h3>
                <p>Cadastro de usuarios/lideres para fornecer acesso ao sistema, e vincula-lo a uma celula</p>
            </div>
        </div>

        <div class="mt-3 body">
            <form class="form col-12 row" [formGroup]="formUsuario" (ngSubmit)="cadastrarUsuario()">
                <div class="col-4">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nome Completo</mat-label>
                        <input matInput type="text" placeholder="Nome" formControlName="nomeCompleto">
                    </mat-form-field>
                </div>

                <div class="col-2">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Login</mat-label>
                        <input matInput type="text" placeholder="Nome" formControlName="login">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input matInput type="text" placeholder="Nome" formControlName="senha">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Apelido</mat-label>
                        <input matInput type="text" placeholder="Nome" formControlName="apelido">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Celular</mat-label>
                        <input matInput type="text" placeholder="Nome" formControlName="celular">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" placeholder="Nome" formControlName="email">
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Data Nascimento</mat-label>
                        <input matInput type="date" placeholder="Nome" formControlName="dataNascimento" >
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Escolha um perfil</mat-label>
                        <mat-select name="perfil" formControlName="idPerfil">
                            <mat-option *ngFor="let perfil of listaPerfisFiltrados" [value]="perfil.id">
                                {{ perfil.cargo }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Escolha uma igreja</mat-label>
                        <mat-select name="igreja" (selectionChange)="selecionarIgreja()" formControlName="idIgreja">
                            <mat-option *ngFor="let igreja of listaIgrejas" [value]="igreja.id">
                                {{ igreja.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Escolha uma rede</mat-label>
                        <mat-select name="igreja" formControlName="idRede">
                            <mat-option *ngFor="let rede of listaRedeFiltrada" [value]="rede.id">
                                {{ rede.cor }} 
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="mt-2 footer col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn col-2" type="submit" [disabled]="formUsuario.invalid">
                        <mat-icon>person_add</mat-icon>
                        Cadastrar
                    </button>
                </div>
    
            </form>
        </div>
        
        
    </article>
</section>