section {
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: 10px;
    border-top: solid 6px lighten(green, 4);

    article {

        .head {
            margin-top: 10px;
            display: flex;
            justify-content: start;
            font-family: 'RocknRoll One', sans-serif;
            a {
                color: black;
                display: flex;
                align-items: center;
                margin: 10px;
            }
            
            a:hover {
                cursor: pointer;
                color: black;
                text-decoration: none;
            }
            div {
                h3 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 0.9rem;
                    font-family: 'Nunito Sans', sans-serif;
                    color: rgb(114, 114, 114);
                }
            }
        }
        .body {
            .full-width {
                width: 100%;
                font-size: 0.7rem;
            }
            .footer {
                display: flex;
                justify-content: space-between;
    
                button {
                    margin: 10px;
                    background-color: green;
                    color: #ffffff;
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
        
    }

}