main {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    background-image: url('../../../assets/image/fundo_logo.png');
    background-repeat: no-repeat;

    .mat-card {
        display: flex;
        flex-direction: column;
        width: 25vw;
        .mat-card-header {
            flex-direction: row-reverse;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-evenly;
            img {
                margin: 0; 
                padding: 0; 
                width: 65px;
            }
        }

        .mat-card-subtitle {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 15px;
        }

        .mat-card-footer {
            div {
                margin-top: -15px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;

                .mat-raised-button {
                    background-color: black;
                    color: #fff;
                    width: 70%;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    main {
        form {
            width: 80%;
            .mat-card {
                width: 100%;
            }
        }
    }
}