<main class="container-fluid">
    <form [formGroup]="credencial" (ngSubmit)="verificarCredenciais()" >
        <mat-card>
            <mat-card-header>
                <img src="../../../assets/image/logo.png" alt="">
                <mat-card-title>Login</mat-card-title>
                <mat-card-subtitle>Alvo Célula - Admin</mat-card-subtitle>
            </mat-card-header>

            <mat-card-subtitle>
                <mat-form-field appearance="fill">
                    <mat-label>Digite seu login</mat-label>
                    <input matInput placeholder="login" formControlName="login" />
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Digite sua senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" />
                    <button id="eye" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-subtitle>

            <mat-card-footer>
                <div>
                    <button mat-raised-button type="submit">
                        Logar
                        <mat-icon>login</mat-icon>
                    </button>
                </div>
            </mat-card-footer>
        </mat-card>
    </form>
</main>